{{ if !Found }}
    <h2>User Not Found</h2>
    <hr>
    <h3>There is no user with the slug '{{ PathSlug }}'</h3>
{{ else }}
    <h2>User: {{ Model.User.Slug }}</h2>
    <hr>

    <h4>Display Names</h4>
    <table class="table table-striped table-hover table-responsive">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Display Name</th>
                <th scope="col">Created At</th>
                <th scope="col">Deleted At</th>
            </tr>
        </thead>
        <tbody>
            {{ range Model.DisplayNames }}
                <tr>
                    <td></td>
                    <td>{{ .DisplayName }}</td>
                    <td>{{ .CreatedAt }}</td>
                    <td>
                        {{ if .DeletedAt.Valid }}
                            {{ .DeletedAt.Time }}
                        {{ end }}
                    </td>
                </tr>
            {{ end }}
        </tbody>
    </table>

    <h4>Email</h4>
    <table class="table table-striped table-hover table-responsive">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Email</th>
                <th scope="col">Created At</th>
                <th scope="col">Deleted At</th>
                <th scope="col">Confirmed At</th>
            </tr>
        </thead>
        <tbody>
            {{ range Model.Emails }}
            <tr>
                <td></td>
                <td>{{ .Email }}</td>
                <td>{{ .CreatedAt }}</td>
                <td>
                    {{ if .DeletedAt.Valid }}
                        {{ .DeletedAt.Time }}
                    {{ end }}
                </td>
                <td>
                    {{ if .ConfirmedAt.Valid }}
                        {{ .ConfirmedAt.Time }}
                    {{ end }}
                </td>
            </tr>
            {{ end }}
        </tbody>
    </table>

    <h4>Developers</h4>
    <table class="table table-striped table-hover table-responsive">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Name</th>
                <th scope="col">Slug</th>
                <th scope="col">Created At</th>
                <th scope="col">Deleted At</th>
            </tr>
        </thead>
        <tbody>
            {{ range Model.Developers }}
            <tr>
                <td></td>
                <td><!-- TODO --></td>
                <td>{{ .Slug }}</td>
                <td>{{ .CreatedAt }}</td>
                <td>
                    {{ if .DeletedAt.Valid }}
                    {{ .DeletedAt.Time }}
                    {{ end }}
                </td>
            </tr>
            {{ end }}
        </tbody>
    </table>

{{ end }}
