@import "tailwindcss";
@import "@catppuccin/tailwindcss/mocha.css";

/*catppuccin dark */

/* import fonts */

/* global */
@layer base {
  html {
    background-color: theme(--color-zinc-800);
    color: theme(--color-ctp-red-50);
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.17rem;
  }

  input {
    @apply border-1 border-zinc-600 bg-zinc-700 bg-clip-border p-2 transition-colors hover:bg-zinc-800 focus:bg-zinc-800 focus:outline-0;
  }
}
