<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ Title }}</title>
    <link rel="shortcut icon" href="/static/favicon.ico">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>
        <h1>{{ Title }}</h1>
        {{ if HasSession }}
            <div>You're signed in as {{ UserSlug }}</div>
            <a href="/logout">Sign Out</a>
        {{ else }}
            <a href="/login">Sign In</a>
            <a href="/register">Sign Up</a>
        {{ end }}
    </header>
    <main role="main">
        {{ embed() }}
    </main>
</body>
</html>
